header{
    background-color: rgb(134, 186,132);
    font-family: 'Bowlby One', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
header img{
    width: 100px;
    height: 100px;
    background-color: rgb(134, 186,132);
}
body{
    background-color: rgb(233, 255, 249)
}
body h2{
    font-family: 'Bowlby One', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    background-color: rgb(134, 186,132);
    clip-path: polygon(25% 14%, 73% 14%, 94% 50%, 74% 85%, 26% 85%, 6% 50%);
    width: 15rem;
    padding: 4rem 0;
    text-align: center;
    margin: auto;
}
main p, ul{
    background-color: rgb(255,142,123);
    font-family:'source serif 4', serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    padding: 2rem;
}
.gallery div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon img{
    width: 15rem;
    height: 15rem;
}
h3:hover{
    color: rgb(134, 186,132);
}
footer{
    background-color: rgb(134, 186,132);
    color: white;
    text-align: center;
    font-family:'source serif 4', serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
@media(min-width:850px){
    .gallery{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery h2{
        grid-column: 1/4;
    }
    .gallery div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button img:hover{
        width: 98%;
    }

}
@media(min-width:1000px){
    .headings{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .headings section{
        max-width: 30%;
    }
    header h1{
        font-size: 60px;
    }
    header img{
        width: 300px;
        height: 300px;
    }
}
@media(min-width:1000px){
    header h1{
        font-size: 80px;
    }
    header img{
        width: 350px;
        height: 350px;
    }
    footer a{
        font-size: 20px;
        padding: 0 0 2rem 0;
    }
    .icon img{
        width: 300px;
        height: 300px;
    }
    .button img{
        width: 500px;
        height: 500px;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .headings p, .headings ul{
        height: 15rem;
    }
    }


   
